*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*the background of the header*/
header{
    background: linear-gradient(rgba(7, 156, 19, 0.632),rgba(22, 19, 224, 0.737));
    overflow: hidden;
}
/*styling the top part*/
nav{
    background: transparent;
    width: 100%;
    position: fixed;
    padding: 15px;
}
/*we add this class in order to make make the nav position :fixed*/
.nav-container{
    display: flex;
    justify-content: space-around;
}
/*styling the logo*/
.top-part h2{
    font-size: 30px;
}
.top-part h2 a{
    text-decoration: none;
    color: rgba(206, 13, 174, 0.881);
}
/*styling the navbar*/
.top-part ul{
    display: flex;
    align-items: center;
    gap: 4rem;
    /*to remove points of a list*/
    list-style: none;
}
.top-part ul li a{
    text-decoration: none;
    transition: all  400ms ease-out;
    color: white;
}
.top-part ul li a:hover{
    text-decoration: underline;
    color: black;
}
/*this is the class for the background of the navbar
when we do scrolling*/
.window-scroll{
    background: #3232d1;
    box-shadow: 0 1rem 2rem black;
}

/*we hide the button of the menu for wide screen*/
.close-btn{
    display: none;
}
/*styling the content*/
.popular-courses{
    padding-top: 120px;
    padding-bottom: 50px;
}
/*styling boxes*/
.popular-courses .Courses{
    display: flex;
    padding: 20px 150px 0px;
}
/*styling every box*/
.popular-courses .Courses .course{
    margin: 0 10px;
    background: rgba(20, 22, 20, 0.751);
    border: 1px solid black;
    transition: 0.7s;
    text-align: center;
    padding-bottom: 15px;
}
.popular-courses .Courses .course:hover{
    background:rgba(0, 0,5, 0.795);
}
/*styling the image of every box*/
.popular-courses .Courses .course img{
    width: 100%;
    margin-bottom: 10px;
}
/*styling the content of every box*/
.popular-courses .Courses .course .content{
    flex-direction: column;
    align-items: center;
}
.popular-courses .Courses .course .content h3{
    margin-bottom: 10px;
    color: rgb(224, 71, 71);
}
.popular-courses .Courses .course .content p{
    color: rgb(235, 235, 236);
}

.content button{
    margin-top: 17px;
    background-color: rgba(0, 21, 255, 0.795);
    border: 1px solid rgba(0, 21, 255, 0.795);
    font-size: 15px;
    padding: 14px  20px;
    color: rgba(228, 42, 222, 0.886);
}
.content button:hover{
    background-color: rgb(4, 13, 113);
    border: 1px solid rgb(4, 13, 113);
}


/*styling the footer*/
.footers{
    background: #1b2430ec;
    color: white;
}
.footer{
    display: flex;
    padding: 45px 50px;
}
/*styling the first part */
.description{
    padding-right: 125px ;
}
/*styling the title of the first part */
.footer .description h2{
    font-size: 30px;
    margin-bottom: 17px;
    text-transform: uppercase;
}
.footer .description h2 a{
    text-decoration: none;
    color: #F05454;
}

/*styling the second part */
.footer .permalinks{
    padding-right: 125px;
}
/*styling the title of the second part */
.footer .permalinks h3{
    text-transform: uppercase;
    font-size: 20px;
    color: #39A388;
}
/*styling the content of this part*/
.footer .permalinks ul li{
    display: block;
    margin: 15px;
}
.footer .permalinks ul li a{
    text-decoration: none;
    transition: 0.5s;
    color: white;
}
.footer .permalinks ul li a:hover{
    font-size: 15px;
    text-decoration: underline;
    color: #F05454;
}

/*styling the third part*/
.footer .primacy{
    padding-right: 80px;
    width: 25%;
    text-align: center;
}
/*styling the title of the third part */
.footer .primacy h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #39A388;
}

/*styling the content of this part*/
.footer .primacy ul li{
    display: block;
    margin: 15px;
}
.footer .primacy ul li a{
    text-decoration: none;
    transition: 0.5s;
    color: white;
}
.footer .primacy ul li a:hover{
    font-size: 15px;
    text-decoration: underline;
    color: #F05454;
}

/*styling the fourth part*/
/*styling the title of this part*/
.footer .Contact-us h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 10px;
    color: #FF0075;
}
/*styling the content of this part*/
.footer .Contact-us h5{
    text-align: center;
    font-size: 15px;
    padding-bottom: 5px;
}
/*styling the logos of this part*/
.footer .Contact-us .social-media{
    margin-top: 10px;
    text-align: center;
}
.footer .Contact-us .social-media a{
    margin-right: 2px;
}
/*this is styling the part of copyright*/
.footers hr{
    background-color: black;
    border: black 0.1px solid;
}
.footers h4{
    text-align: center;
    padding-bottom: 15px;
    padding-top: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family:serif;
}

@media screen and (max-width:940px){
    
.popular-courses .Courses{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    padding: 20px 35px 0;
}


    .footer{
        display: flex;
        padding: 45px 30px;
    }
/*styling the first part */
.description{
    padding-right: 35px ;
    width: 100%;
}

/*styling the second part */
.footer .permalinks{
    padding-right: 35px;
}

/*styling the third part*/
.footer .primacy{
    padding-right: 20px;
}  

}
@media  screen and (max-width:675px){
    
   
    .close-btn{
        display: block;
        margin-right: 38px;
        cursor: pointer;
    }
    .close-btn .close{
        display: none;
    }
    .nav-container{
        display: flex;
        justify-content: space-between;
    }
    .top-part ul{
        position: fixed;
        top: 2.5rem;
        right: 8%;
        height: fit-content;
        width: 15rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    .top-part ul li{
        width: 100%;
        height: 4.5rem;
        /*this is for animations as it is showd*/
        animation: animatNavItems 400ms  forwards;
        transform-origin: top right;
        opacity: 0;
    }
    .top-part ul li:nth-child(2){
        animation-delay: 200ms;
    }
    .top-part ul li:nth-child(3){
        animation-delay: 400ms;
    }
    .top-part ul li:nth-child(4){
        animation-delay: 600ms;
    }

    @keyframes animatNavItems{
        0%{
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }
        100%{
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }
    .top-part ul li a{
        background: #3232d1;
        box-shadow: -4rem 6rem 10rem rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        display: grid;  
        place-items: center;      
    }
    .top-part ul li a:hover{
        background: #1e5afa;
    }
    
.popular-courses{
    padding-top: 80px;
}
.popular-courses .Courses{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    padding: 20px 20px 0;
}



.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
}
.footer .permalinks{
    padding-right:10px;
}
/*styling the third part*/
.footer .primacy{
    width: 94%;
}
.footer .description{
    text-align: center;
}

}

@media screen and (max-width:675px) and (min-width:500px){
    .popular-courses{
        padding-top: 80px;
    }
    .popular-courses .Courses{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 90%;
        padding: 20px 25px 0;
    }
}